$main-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;
$title-color: #212121;
$description-color: #757575;
$darc-team-color: #ffffff;
$accent-color: #2196f3;
$icone-color: #afb1b8;
